{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <h1>Edit Entry<h1>
    <form action="{% url 'wiki:save_edit' edit.title %}" method="post">
        
        {% csrf_token %}
            {{edit}}
            <br>
        <input type="submit">
        <h6>Please maintain all entries in markdown format (<a href="https://www.markdownguide.org/basic-syntax/">learn more here</a>)</h6>

    </form>

    <a href="{% url 'wiki:index' %}">Return to Main</a>

{% endblock %}